<html>
    <head>
        <title>{% block full_title %}{{ site.title }}{% block subtitle %} {{ page.subtitle|default('') }}{% endblock subtitle %}{%endblock full_title%}</title>
        <link rel="stylesheet" href="/components/revealjs/css/reveal.css">
        <link rel="stylesheet" href="/components/revealjs/css/theme/beige.css">
        <link rel="stylesheet" href="/components/revealjs/lib/css/zenburn.css">
        <style>
            .reveal section img.logo { background:none; border:none; box-shadow:none; }
        </style>

        {#<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">#}
        {#<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">#}
        {#<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">#}
        {#<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">#}
        {#<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">#}
        {#<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">#}
        {#<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">#}
        {#<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">#}
        {#<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">#}
        {#<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">#}
        {#<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">#}
        {#<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">#}
        {#<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">#}
        {#<link rel="manifest" href="/manifest.json">#}
        {#<meta name="msapplication-TileColor" content="#ffffff">#}
        {#<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">#}
        {#<meta name="theme-color" content="#ffffff">#}

        {#<!-- Favicon generated via https://www.favicon-generator.org/ -->#}

        <!-- HTML Meta Tags -->
        <meta name="description" content="{{ site.stinger }}">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="{{ site.longtitle }}">
        <meta itemprop="description" content="{{ site.description }}">
        {#<meta itemprop="image" content="{{ site.image }}">#}

        <!-- Facebook Meta Tags -->
        {#<meta property="og:url" content="{{ site.url }}">#}
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ site.longtitle }}">
        <meta property="og:description" content="{{ site.description }}">
        {#<meta property="og:image" content="{{ site.image }}">#}

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ site.title }}">
        <meta name="twitter:description" content="{{ site.description }}">
        {#<meta name="twitter:image" content="{{ site.image }}">#}

        <!-- Meta Tags Generated via https://heymeta.com -->
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                {% block content '' %}
            </div>
        </div>

        <a href="https://github.com/beryllium/turing-act"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

        {{ site.analytics|default('')|raw }}
        <script src="/components/revealjs/js/reveal.js"></script>
        <script>
            Reveal.initialize({
                controlsTutorial: true
            });
        </script>
    </body>
</html>

